.layout {
  @include media-up('lg') {
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "sidebar main"
  }
}

.main {
  grid-area: main;
  background-color: $light-100;
  @include media-up('lg') {
    padding: 3rem;
  }
}