/** 
* SVG icon size
* 
*/
.icon {
  width: 1.5rem;
  height: 1.5rem;
}

/** 
* Flex utilities
* 
*/
@each $name, $size in $break-points {
  @include media-up($name) {
    .flex-#{$name} {
      display: flex;
    }
    .justify-end-#{$name} {
      justify-content: flex-end;
    }
    .justify-start-#{$name} {
      justify-content: flex-start;
    }
    .justify-around-#{$name} {
      justify-content: space-around;
    }
    .justify-between-#{$name} {
      justify-content: space-between;
    }
    .justify-center-#{$name} {
      justify-content: center;
    }
    .align-items-#{$name} {
      align-items: center;
    }
    .align-end-#{$name} {
      align-items: flex-end;
    }
  }
}