/** 
* Color variables
* 
*/
$blue: #0077ff;
$blue-100: #b3d6ff;
$red: #f0166d;
$red-100: #fbb9d3;
$grey: #c0c5d2;
$grey-100: #b4bac6;
$grey-200: #a6afb7;
$grey-300: #8a96a0;
$grey-400: #637280;
$grey-500: #eceff3;
$grey-600: #acb5bc;
$grey-700: #999999;
$light: #fff;
$light-100: #fafbfc;
$dark: #000;

$primary: $blue;

$border-color: $grey-100;

/** 
* Typo variables
* 
*/
$font-family: 'Lato', sans-serif;

/** 
* Grid variables
* 
*/
$grid-columns: 12;
$grid-gutter: 1rem;

/** 
* Layout variables
* 
*/
$header-height: 4rem;

/** 
* Break points map
* 
*/
$break-points: (
    'xs': '1px',
    'sm': '640px',
    'md': '768px',
    'lg': '1024px',
    'xl': '1280px',
    '2xl': '1536px'
);